<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona główna :: Car Rental</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/about.css">

    <script src="/js/dark-mode.js"></script>

    <!-- Ikony -->
    <script src="https://kit.fontawesome.com/f78f0562eb.js" crossorigin="anonymous"></script>

    <!-- Czcionka Open Sans Regular 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body onload="onload()" class="dark-mode">
<!-- Nagłówek -->
<div class="header-box" id="header-box-sticky">
    <div class="logo">
        <a href="/"><div class="image-logo"></div></a>
    </div>
    <div class="options-in-header">
        <div class="text-of-options"><a href="/cars">Samochody</a></div>
        <div class="text-of-options"><a href="#">O nas</a></div>
        <div class="text-of-options"><a href="/">Kontakt</a></div>
    </div>
    <div class="login-registration-option">
        <div class="text-of-login-registration-options"><a href="/login">Zaloguj</a></div>
        <div class="text-of-login-registration-options">/</div>
        <div class="text-of-login-registration-options"><a href="/registration">Zarejestruj</a></div>
        <div class="text-of-login-registration-options"><button class="dark-mode-btn" onclick="darkmode()"><i class="fa-solid fa-circle-half-stroke"></i></button></div>
    </div>
</div>

<!-- Sekcja "O nas" -->
<div class="about-box">
    <div class="text-about-box">
        <ul>
            <li>Kim jesteśmy?</li>
            Jesteśmy polską firmą założoną w 2010 roku.
            Od ponad 20 lat zajmujemy się wypożyczaniem samochodów osobowych oraz dostawczych.
            Firma powstała z pasji do motoryzacji, dlatego chcemy się z nią dzielić poprzez naszą wypożyczalnie RentalCar.
            <li>Co oferujemy?</li>
            W Naszej ofercie znajduje się ponad 100 pojazdów.
            Posiadamy samochody osobowe oraz dostawcze, do których wystarczy zwykłe prawo jazdy kategorii B.
            <li>Ile to kosztuje?</li>
            Każdy z pojazdów posiada indywidualną cenę za dobę. Jest to spowodowane tym, że każdy samochód potrzebuje innego podejścia do pielęgnacji i utrzymania.
            Przeważnie cena jest zależna od poziomu spalania paliwa przez dany samochód.
            <li>W jaki sposób mogę wypożyczyć samochód?</li>
            To proste! Do wypożyczenia samochodu potrzebne jest konto użytkownika i prawo jazdy z kategorią B.
            Jeżeli masz już założone konto użytkownika należy wybrać interesujący Cię pojazd i kliknąć przycisk "Wypożycz".
            Następnie zaznaczasz na ile dni samochód ma być wypożyczony potem wybierasz metodę płatności i to wszystko.
            <li>Dla kogo przeznaczone jest RentalCar?</li>
            Rental Car jest przeznaczone praktycznie dla każdego kto posiada prawo jazdy z kategorią B.
            <li>Czy moge wypożyczyć więcej niż jeden samochód?</li>
            U Nas wypożyczasz bez limitu i bez żadnych ograniczeń.
            <li>Czy jest to bezpieczne?</li>
            Tak, oczywiście. Nasza flota przechodzi regularne przeglądy, przywiązujemy wielką wagę,
            aby wyposażenie pojazdów wpływało na poczucie bezpieczeństwa oraz komfort podczas każdego wypożyczenia i jazdy.
        </ul>
    </div>
</div>

<!-- Stopka -->
<div class="footer-box">
    <div class="empty-box"></div>
    <div class="options-in-footer">
        <div class="text-option"><a href="#">Regulamin</a></div>
        <div class="text-option"><a href="#">Polityka prywatności</a></div>
        <div class="text-option"><a href="#">Polityka cookies</a></div>
    </div>
    <div class="social-options-box">
        <div class="social-option"><a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a></div>
        <div class="social-option"><a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a></div>
        <div class="social-option"><a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a></div>
    </div>
</div>
<div class="copyright">
    <div class="copyright-text">
        &copy; Copyright 2023
    </div>
</div>
</body>
</html>
